<div class="container mt-5">
  <h1>Restaurants</h1>
  <% @restaurants.each do |restaurant| %>
  <ul>
    <%= link_to restaurant.name , restaurant_path(restaurant) %>
  </ul>
  <% end %>

  <i class="fas fa-plus"></i> <%=  link_to 'Add a new restaurant' , new_restaurant_path%>
</div>
